<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .title }}</title>
  <meta name="description" content="{{ .description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  body {
	margin: 0;
	padding: 0;
  }
  </style>
</head>
<body>
  <div id="main"></div>
  <script>{{ .body }}</script>
  <script>
    Redoc.init("{{ .specUrl }}", {}, document.getElementById("main"))
  </script>
</body>
</html>
